<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Welcome to the online shop</h1>
    <p> The largest collection of items in the world</p>
<%- include('../includes/end.ejs') %>
